.infoBox{
display: flex;
background-color: #ed6b5a;
height: 20vh;
width: 40vw;
margin-bottom: 20px;
justify-content: center;
align-items: center;
}

.prodImgHolder {
  display: flex;
  justify-content: flex-start;
  height: 16vh;
  width: 20vw;
}

.prodImage {
  margin-left: 16px;
  height: 130px;
  width: 200px;
}

.descriptionHolder {
  height: 16vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
}

.theDeats {
  display: flex;
  flex-direction: column;
}

.descriptionHolder span {
  font-weight: 500;
}

.problemFixer {
  height: 15vh;
  width: 20vw;
  display: flex;
  justify-content: center;
align-items: flex-end;}

.prodButtonsHolder {
  height: 5vh;
  width: 20vw;
  display: flex;
  justify-content: space-evenly;
}

.prodButtons {
  padding: 10px;
  margin: 5px 10px;
  background-color: #3ad886;
  border-radius: 7px;
  border: none;
  font-family: Open Sans,sans-serif;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

